<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']" color="medium">
        <ion-icon slot="icon-only" name="arrow-forward-circle"></ion-icon>
      </ion-button>
      HOME
    </ion-buttons>    
    <ion-title>Página da API</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Página da API</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input [(ngModel)]="query" placeholder="Procure por livros, autores..."></ion-input>
    <ion-button color="medium" (click)="searchBooks()">Buscar</ion-button>
  </ion-item>

  <ion-list>
    @if (books.length === 0) {
      <ion-item>Nenhum resultado encontrado</ion-item>
    }

    @for (book of books; track book.key) {
    <ion-item>
      <ion-thumbnail slot="start">
        @if (book.cover_i) {
        <img [src]="getCover(book.cover_i)"/>
        }
      </ion-thumbnail>
      <ion-label>
        <h2>{{ book.title }}</h2>
        <p><strong>Autor: </strong> {{authors[book.author_key?.[0]]?.name || 'Carregando...' }}</p>
        <ion-button color="medium" [routerLink]="['/work', book.key?.split('/')[2]]">Ver detalhes</ion-button>
      </ion-label>
    </ion-item>
  }
  </ion-list>
</ion-content>
